// color-variable
$primary: #2ECC71;
$pra-color:#808080;
$btn-color:#ddd;
$light-color:#FFFFFF;
$dark-color:#000;
$use-color:#FED652;
$light-drak:#0C0C0C;

// font-weight
$sw:400;
$mw:500;
$sw:600;
$lw:700;
$xw:800;
$xlw:900;
